body,* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
}
.game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.enemy {
    height: 30%;
    width: 100%;
    position: relative;
}





.player {
    height: 20%;
    width: 100%;
    position: relative;
}


