.player_details {
    position: absolute;
    bottom: 25%;
    background-color: rgba(0, 0, 0, 0.658);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.3% 1%;
}

.player_profile {
    color: white;
}

.player_name {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.player_hero_name {
    font-size: 14px;
    letter-spacing: 1px;
    color: rgb(206, 206, 206);
    margin-top: 2%;
}

.player_cards {
    height: 100%;
}

.cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    position: absolute;
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    background-color: white;
    position: relative;
    height: 210px;
    width: 140px;
    margin-left: -1.4rem;
    border: 0.5em ridge #53b5a8;
    border-image-source: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAA7ElEQVRYhe2YMQ6DMAxFcwBGRtaeoFUv0K2qOAa36NYDVmLjMmHB0VfqEJbG3xKRvkTiAE+OnYBD2FrfDdFSAVvfDfH7vpsqQQnMMk9xmad0jWOacJ4o79fGVSgEEsPnda1qbx7a8mdifxcIJ7aKm6qHBOZxuTURQsm7i0Djc/y7fAHhYEsgTCYqD6lZRrVk1h6iAZIYoglqOg/RAflZMtwLKDZGOg+dQe0OiO60t8oyutP+/B5yF9R0QH6yTEiplgxJW+jQv30urHagJ0v22n2lSkjyEF196EjRqlRK0cowaNfmaLYfGOuyHjKsYnCffLyABLkAAAAASUVORK5CYII=);
    border-image-repeat: repeat;
    border-image-slice: 6 6 6 6;
    border-image-width: 0.75rem;
    border-width: 0.75rem;
    border-width: 0.5rem;
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    cursor: grab;
}

.card1 {
    transform: translate3d(0px, 5px, 0px) rotate(-2deg);
}

.card3 {
    transform: translate3d(0px, 5px, 0px) rotate(2deg);
}

.card4 {
    transform: translate3d(0px, 5px, 0px) rotate(4deg);
}

.card:hover {
    scale: 1.5;
    transform: translateY(-70px);
    transform: 500ms translateY() ease;
    transform: 500ms scale() ease;
    z-index: 1001;

}

.card_mana_required {
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: #326CB1;
    padding: 5px 10px;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card_mana__req_text {
    scale: 1.5;
    color: white;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.card_attack_power {
    position: absolute;
    bottom: -15px;
    left: -15px;
    background-color: rgb(227, 185, 14);
    padding: 5px 10px;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.attack_power_text {
    scale: 1.5;
    color: white;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.card_health_power {
    position: absolute;
    bottom: -15px;
    right: -15px;
    background-color: chocolate;
    padding: 5px 10px;
    border-radius: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: 3px solid rgb(91, 49, 19);
}

.card_health_text {
    scale: 1.5;
    color: white;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.8);
}

.card_inside {
    width: 100%;
    height: 100%;
}

.card_inside_charachter {
    height: 40%;
    background-color: rgba(49, 45, 45, 0.516);
    margin: 10% 20% -10% 20%;
    border-radius: 100%;
    border: 2px solid black;
}

.card_inside_charname {
    background-color: rgba(173, 130, 67, 0.845);
    text-align: center;
    color: white;
    padding: 1%;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 1);
}

.card_inside_description {
    font-size: 12px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(149, 129, 106, 0.897);
}

.card_inside_description_title {
    font-weight: 700;
}

.player_healthbar {
    position: absolute;
    right: 5%;
    top: 10%;
    width: 20%;
}


.player_mana_info {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 20%;
}

.mana_bar {
    width: 100%;
    background-color: rgb(235, 206, 168);
    border-radius: 15px;
    padding: 5px;
    display: flex;
    height: 100%;
    position: relative;
}

.mana_unit {
    background-color: #326CB1;
    padding: 5px 20px;
    border-radius: 15px;
    width: 20%;
}

.mana_unit_text {
    color: white;
    scale: 1.1;
    font-weight: 700;
}

.mana_bar_render {
    background-color: rgba(187, 160, 125, 0.662);
    width: 80%;
    border-radius: 15px;
    margin-left: 5px;
    position: relative;
}
.mana_bar_fill {
    background-color: #5589c9c4;
    position: absolute;
    height: 100%;
    border-radius: 15px;
}